{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% load static %}

<script src="{% static 'jquery.js' %}"></script>

{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">
	<h1>Image Replacement</h1>
	<form action="/jobs" method="post" class="form" enctype="multipart/form-data">
	  {% csrf_token %}
  		<label>Image to replace:</label>
	    <input type="file" name="graphic">
	  {% buttons %}
	    <button type="submit" class="btn btn-primary">
	      {% bootstrap_icon "send" %} Submit
	    </button>
	  {% endbuttons %}
	</form>
</div>